<main class = "TodoPageMain" style="text-align: center;">
  <p class="TodoPage-title" > Welcome to the Todo Manager</p>
  <p class="TodoSectionTitle-text">If you are a New User, Sign up here</p>
</main>
